<html>
    <body>
            <form id="form_edit" action="/edit" method="POST">
                <input type="hidden" name="id" value="<%=data[0]._id%>">
                <table>
                  <tr>
   
                    <td style='text-align: center'>
                      <input type="text" name="product_name" placeholder='Product Name' value="<%=data[0].product_name%>">
                      <input type="text" name="price" placeholder='Price' value="<%=data[0].price%>">
                      <input type="text" name="category" placeholder='Category' value="<%=data[0].category%>">
                      <input type="submit" name="sub" placeholder='Category' value='Update Product'>
                    </td>
                  </tr>
                </table>
              </form>
    </body>
</html>
