<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Create User</h1>
        <span><%=message %></span>
              
                <form method="POST" action="/addNewUser">
                    ID: <input type="text"  name="userid"/><br/>
                    Name: <input type="text" name="name" /> <br/>
                    Password: <input type="text" name="password"/><br/>
                    profession: <input type="text"  name="profession"/><br/>
                   
                    <input type="submit" value="Submit" />
                </form>
    </body>
</html>