* {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #BBB;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

h2, h3 {
    margin-bottom: 10px;
}

/* first example */
.container {
    max-width: 750px;
    margin: 20px auto 0 auto;
    padding: 30px;
    background: #fff;
}

.form-row label {
    padding-right: 10px;
}

.form-row {
    padding: 10px 0;
    display: flex;
}

.form-row input {
    flex: 1;
}

/* second example */

.column-layout {
    max-width: 1300px;
    background: #fff;
    margin: 40px auto 0 auto;
    line-height: 1.65; 
    padding: 20px 50px;
    display: flex;
}

.main-column, .sidebar-one, .sidebar-two {
    padding: 5px;
}

.sidebar-one {
    order: -1;
    flex: 1;
}

.sidebar-two {
    flex: 1;
}

.main-column {
    flex: 3;
}

/* third example */

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}

/* task: 
give the first call-out div the 
bg color #c0dbe2

2nd call-out #cdf1c3
3rd call-out #ccb9da
*/

.call-out:nth-child(1) {
    background-color: #c0dbe2;
}

.call-out:nth-child(2) {
    background-color: #cdf1c3;
}

.call-out:nth-child(3) {
    background-color: #ccb9da;
}

/* fourth example */

.fixed-size-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fixed-size {
    width: 150px;
    height: 100px;
    background: #990b47;    
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

/* fifth example */
.banner {
    height: 400px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
}

.center-me {
    color: #fff;
    font-size: 50px;
    margin: auto;
}

/* sixth example */

.equal-height-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.first {
    background: #fff;
    padding: 20px;
    flex: 1;
}

.second-a {
    background: #c0dbe2;
    flex: 1;
}

.second-b {
    background: #cdf1c3;
    flex: 1;
}

